@import "../../styles/dark.scss";

.auth-main-container {
  display: flex;
  flex-direction: column;
}

.auth-article-container {
  width: 50rem;
  max-width: 95%;
  height: auto;
  margin: 10vh auto 4vh auto;
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-color: $theme-card-background-color;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid $theme-card-border-color;
}

.auth-input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.people-icon svg {
  width: 20vh;
  height: 12vw;
}

.inputs-special-actions-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-link {
  color: $theme-link-color;
  margin-top: 1rem;
  font-weight: bold;
}

.actions-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  padding: 1.2rem 7rem;
  background-color: $theme-button-background-color;
  font-weight: bold;
  color: $theme-button-text-color;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 2rem 0;
}

.login-button:hover,
.login-button:focus {
  background-color: $theme-button-hover-background-color;
}
