.articleContainer {
  display: block;
  width: 70rem;
  margin: 3rem auto 5rem auto;
  padding: 2rem 3rem 2rem 1.5rem;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.inputTitle,
.inputContent {
  border: 1px solid #555;
  background-color: #1f1f1f;
  color: #ffffff;
  transition: border-color 0.3s, background-color 0.3s;
}

.inputTitle {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  border-radius: 5px;
}

.inputTitle:focus,
.inputContent:focus {
  border-color: #777;
  background-color: #3e3e3e;
}

.inputContent {
  width: 100%;
  height: 60vh;
  min-height: 60vh;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  resize: vertical;
  overflow-x: hidden;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
}

.submitButton {
  padding: 0.8rem 1.5rem;
  background-color: #3700b3;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover,
.submitButton:focus {
  background-color: #30009c;
}
