.articleContainer {
  max-width: 95%;
  margin: 5vh auto 7vh auto;
  padding: 2rem 3rem 2rem 1.5rem;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  box-sizing: border-box;
  overflow-y: auto;
}

.inputTitle,
.inputContent {
  border: 1px solid #555;
  background-color: #1f1f1f;
  color: #ffffff;
  transition: border-color 0.3s, background-color 0.3s;
}

.inputTitle {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  font-size: 2vw;
  border-radius: 5px;
}

.inputTitle:focus,
.inputContent:focus {
  border-color: #777;
  background-color: #3e3e3e;
}

.inputContent {
  width: 100%;
  height: 59vh;
  min-height: 25vh;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 5px;
  resize: vertical;
  overflow-x: hidden;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  padding: 0.8rem 1.5rem;
  background-color: #80bf02;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.submitButton:hover,
.submitButton:focus {
  background-color: #629202;
}

// Media Query Example: Adjust styles for screens smaller than 600px
@media (max-width: 600px) {
  .inputTitle {
    font-size: 2.5rem;
  }
}
