@import "../../../styles/dark.scss";

.secondary-nav-main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 2rem 1.5rem;
  background-color: $theme-card-background-color;
  border-radius: 10px;
  box-sizing: border-box;
  overflow-y: hidden;
  border: 2px solid $theme-card-border-color;
}
