body,
html {
  background-color: #f5efea;
}

.main-app-orientation {
  min-height: 100vh; // use min-height instead of height
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
