@import "../../../styles/dark.scss";

.main-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.generic-mui-icon {
  color: $theme-icons-color;
}

.main-section svg {
  width: 4vh;
  height: 2.5rem;
  margin-right: 1.2rem;
  line-height: normal;
  align-self: flex-start;
}

.input-data-section {
  width: 80%;
  background-color: #1f1f1f;
  border-radius: 5px;
  border: 1px solid $theme-input-border-color;
  color: $theme-input-text-color;
  transition: border-color 0.3s, background-color 0.3s;
  box-sizing: border-box;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
  font-size: 1vw;
}

.input-data-section:focus {
  border-color: $theme-input-border-focus-color;
  background-color: $theme-input-background-focus-color;
}
