// Note: At the moment dark theme is the only option
$theme-background-color: #292929;
$theme-card-border-color: #ffffff;
$theme-card-background-color: #000000;
$theme-input-border-color: #555;
$theme-input-background-color: #1f1f1f;
$theme-input-border-focus-color: #777;
$theme-input-background-focus-color: #3e3e3e;
$theme-input-placeholder-color: #777;
$theme-input-text-color: #ffffff;
$theme-button-background-color: #80bf02;
$theme-button-hover-background-color: #629202;
$theme-button-text-color: #ffffff;
$theme-link-color: #629202;
$theme-icons-color: #80bf02;
// Note: button border color doesn't exist at the moment.
